# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# 虚拟环境
venv/
env/
ENV/
.venv/
*.egg-info/
dist/
build/

# IDE 和编辑器配置
.vscode/
.idea/
*.swp
*.swo

# 日志文件
*.log

# 本地配置文件
addresses.txt
proxy.txt
config.py